html {
    background-image: url(Assets/Images/Abstract2.jpg);
    background-repeat: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Bad Script", cursive;
    overflow-x: hidden;
}

.nav-bar ul {
    position: fixed;
    top: 0;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;/*fix*/
}

.nav-bar li {
    display: inline-block;
    font-size: 30px;
}

.nav-bar li a {
    text-decoration: none;
    display: block;
    padding: 10px;
    width: 100px;/*fix*/
}

.nav-bar a, a:visited {
    color: white;
}

.nav-bar a:hover {
    color: #A03BB1;
}

.nav-bar a:active {
    color: #00C6FF;
}

#title {
    font-size: 30px;
    color: white;
    
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -150px;
    margin-left: 80px;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

#temporary {
    font-family: "Bad Script", cursive;
    font-size: 150px;
    color: white;
    
    left: 0;
    line-height: px;
    margin: auto;
    margin-top: -80px;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    color: white;
}